.content {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: block;
  // --background-image: url(attr(background-image));
}

.content.dark {
  color: white;
}

.content.light {
  color: black;
}

.content.image {
  background: var(--background-image, white) center/cover;
  background-attachment: fixed;
}

.content.solid {
  background: var(--color-scheme, white);
}

// :root {
// }
